.login-page {
    height: 100vh;
    justify-content: space-between;
}

.form-section {
    margin-bottom: 110px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {

    .login-page .logo-section {
        height: 40%;
        user-select: none;
    }

}

@media only screen and (min-width: 600px) {

    .login-page .logo-section {
        height: 40%;
        user-select: none;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .login-page {
        justify-content: center;
    }  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .login-page .logo-section {
        height: 30%;
        user-select: none;
    }
        
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}