input {
    width: 75%;
    height: 30px;
    border: none;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
}

.input-container {
    cursor: text;
    height: 30px;
    outline: none;
    overflow: hidden;
    min-width: 300px;
    max-width: 400px;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    background-color: transparent;
    justify-content: space-between;
    border: 2px solid var(--main-color-transparent);
    transition: var(--quick-transition);
}

label:hover .input-container.no-border,
.input-container.no-border {
    border: 2px solid var(--background-color);
}

.input-container.focused {
    background-color: var(--background-transparent);
}

.invisible-nput {
    opacity: 0;
    width: 0;
}

input.password {
    letter-spacing: 0.1em
}

/* Label */

label {
    transition: var(--quick-transition);
}

.label-text-group {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

label .text {
    margin-left: 1em;
    align-self: start;
    color: var(--main-color-transparent);
    transition: var(--quick-transition);
}

label .invalid-text {
    font-size: 0.7em;
    margin-right: 2em;
}

label:hover .text,
.text.focused {
    color: var(--main-color);
}

.input-container.focused,
label:hover .input-container.no-border.focused,
label:hover .input-container {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: var(--main-gradient);
}