input {
    height: 30px;
    outline: none;
    min-width: 300px;
    max-width: 400px;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    color: var(--text-color);
    background-color: transparent;
    border: 2px solid var(--main-color-transparent);
}

input:focus {
    background-color: var(--background-transparent);
}

/* Label */

.label-text-group {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

label .text {
    margin-left: 1em;
    align-self: start;
    color: var(--main-color-transparent);
    transition: var(--quick-transition);
}

label .invalid-text {
    font-size: 0.7em;
    margin-right: 1em;
}

label:hover .text,
.text.focused {
    color: var(--main-color);
}