/* Button */
button {
    height: 36px;
    border: none;
    cursor: pointer;
    min-width: 330px;
    max-width: 400px;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
    font-weight: bold;
    transition: var(--quick-transition);
    background-color: var(--main-color);
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}