.home-page {
    position: relative;
    min-height: calc(100vh + 160px);
    overflow-x: hidden;
    overflow-y: auto;
}

section {
    padding: 0 var(--body-padding);
}


/* New Releases */

#newSection {
    padding: var(--body-padding);
}

.section-content {
    min-height: 320px;
    margin: 10px 0;
    background-color: var(--background-color-darker);
}

.section-content.new-releases {
    height: 300px;
    transition: var(--quick-transition);
}

.land-slider {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
}

.land-slider .control{
    width: 40px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}

.land-slider .control.right {
    background: linear-gradient(to right, transparent, var(--background-color-darker));
    right: 0;
}

.land-slider .control.left {
    background: linear-gradient(to left, transparent, var(--background-color-darker));
    left: 0;
}

.land-slider .control.right:hover{
    background: linear-gradient(to right, transparent, var(--background-color));
}

.land-slider .control.left:hover{
    background: linear-gradient(to left, transparent, var(--background-color));
}

/* Carousel */
.carousel {
    height: calc(100% - 30px);
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    scroll-behavior: smooth;
}

/* Filter Bar */
#filterBarPanel {
    transition: var(--quick-transition);
    padding: var(--body-padding) var(--body-padding) 0 var(--body-padding);
}

.filter-content {
    height: 60px;
    overflow-x: hidden;
    padding: 0px 15px;
    overflow-y: hidden;
    width: calc(100% - 30px);
    justify-content: flex-start;
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
    background-color: var(--background-color-darker);
    transition: var(--quick-transition);
}

.filter-content.open {
    overflow-x: auto;
}

.filter-opener {
    width: 30px;
    height: 60px;
    cursor: pointer;
    background-color: var(--background-transparent);
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
    transition: var(--slow-transition);
}


.filter-opener:hover {
    background-color: var(--main-color);
}

.filter-opener:hover i{
    color: var(--background-color-darker);
}


.movies-list {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

#headVideoSection {
    margin: 0;
    padding: 0;
    height: 80vh;
    overflow: hidden;
    position: relative;
    background-color: var(--background-color-darker);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .new-releases {
        border-radius: 0;
        margin-left: -30px;
        width: calc(100% + 60px);
    }

    .filter-content.open {
        width: calc(100% + 60px);
    }

    #moviesListSection {
        padding: var(--body-padding) 10px;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .new-releases {
        border-radius: 0;
        margin-left: -30px;
        width: calc(100% + 60px);
    }

    #moviesListSection {
        padding: var(--body-padding) 10px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .new-releases {
        width: 100%;
        margin-left: 0px;
        border-radius: var(--border-radius-large);
    }

    #moviesListSection {
        padding: var(--body-padding);
    }

}
