.card {
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid transparent;
    transition: outline 0.3s ease-in-out, transform 0.3s ease-in-out;
    border-radius: var(--border-radius-small);
    background-color: var(--background-color-darker);
}


.card.release {
    margin: 5px;
    height: 220px;
    cursor: pointer;
    overflow: hidden;
    min-width: 150px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    outline: 1px solid transparent;
    transition: var(--quick-transition);
    border-radius: var(--border-radius-small);
    background-color: var(--background-color);
}

.card:hover {
    outline: 1px solid var(--main-color);
    transform: translateY(-5px);
}


.card:hover .card-info-container {
    bottom: 0px;
}

.card:hover .card-favorite {
    opacity: 1;
    transform: scale(1);
}

.card-info-container {
    width: 100%;
    height: 200px;
    bottom: -202px;
    position: absolute;
    background: linear-gradient(to bottom, transparent, var(--background-color) 95%);
    transition: var(--slow-transition);
}

.card-info-content {
    width: 80%;
    height: calc(100% - 40px);
    margin: 20px 10%;
    justify-content: flex-end;
}

.card-rate {
    color: var(--gold-color);
    font-size: 0.7em;
}

.card-title,
.card-info-content  a {
    font-size: 1.2em;
    min-height: 25px;
    max-height: 75px;
    overflow: hidden;
    font-weight: bold;
    line-height: 1em;
    word-wrap: wrap;
    text-overflow: ellipsis;
    text-emphasis: none;
    text-decoration: none;
    color: #fff;
    transition: var(--slow-transition);
}

.card-info-content  a:hover
.card-title:hover {
    text-shadow: 1px 1px 2px var(--background-color);
    text-decoration: underline;
}

.card-genre {
    color: var(--main-color);
    font-size: 0.7em;
}

.card-favorite {
    top: 0;
    right: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    padding: 10px;
    position: absolute;
    transform: scale(0);
    background-color: transparent;
    transition: var(--slow-transition);
    z-index: 999;
}

.new-fav {
    height: 100%;
    width: 100%;
}

.new-fav i {
    font-size: 60px;
    opacity: 0;
    transform: scale(0);
    transition: all 2s ease-in-out;
    color: var(--main-color-transparent);
}

.new-fav.add-animate i {
    animation-name: addAnimation;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
}

.new-fav.remove-animate i {
    animation-name: removeAnimation;
    animation-iteration-count: 1;
    animation-duration: 1s;
}


@keyframes addAnimation {
    0% {transform: scale(0);
        opacity: 0;}
    25% {transform: scale(2);
        opacity: 1;}
    50% {transform: scale(1.5);}
    75% {transform: scale(2);}
    90% {transform: scale(1.5);
        opacity: 1;}
    100% {transform: scale(0);
        opacity: 0;}
}


@keyframes removeAnimation {
    0% {transform: scale(0);
        opacity: 0;}
    50% {transform: scale(2);
        opacity: 1;}
    100% {transform: scale(0);
        opacity: 0;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .card {
        height:  calc((((100vw - 60px) / 2) - 15px) * 1.5);
        min-width: calc(((100vw - 20px) / 2) - 15px);
        max-width: calc(((100vw - 20px) / 2) - 15px);  
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .card {
        height:  calc((((100vw - 20px) / 3) - 14px) * 1.5);
        min-width: calc(((100vw - 20px) / 3) - 14px);
        max-width: calc(((100vw - 20px) / 3) - 14px);   
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .card {
        height:  calc((((100vw - 60px) / 4) - 14px) * 1.5);
        min-width: calc(((100vw - 60px) / 4) - 14px);
        max-width: calc(((100vw - 60px) / 4) - 14px);
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .card {
        height: calc((((100vw - 60px) / 5) - 13px) * 1.5);
        min-width: calc(((100vw - 60px) / 5) - 13px);
        max-width: calc(((100vw - 60px) / 5) - 13px);
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
