:root {
    --background-color: #032541;
    --background-color-darker: #021b2f;
    --background-transparent: #1f66a090;
    --background-darker-transparent: #021322ef;
    --shadow-color: #2a89d637;
    --shadow-color-soft: #2a89d61d;
    --main-color: #5bf192;
    --main-color-transparent: #5bf1928d;
    --secondary-color: #13b6dc;
    --gold-color: gold;
    --text-color: #fff;
    --text-color-dark: #032541;
    --main-gradient: linear-gradient(45deg,#5bf192,#13b6dc);
    --main-gradient-transparent: linear-gradient(45deg,#5bf1929e,#13b7dc95);
    --body-padding: 30px;
    --component-padding-large: 30px;
    --component-padding-small: 15px;
    --body-height: calc(100vh - (2 * var(--body-padding)));
    --quick-transition: all 0.2s ease-in-out;
    --slow-transition: all 0.4s ease-in-out;
    --border-radius-large: 10px;
    --border-radius-small: 5px;
}

#root {
    height: 100vh;
}

body {
    color: var(--text-color);
    background: var(--background-color);
}

/* Global styles */

/* Flex */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction:column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row-center-land {
    justify-content: center;
}

.flex-row-center-vert {
    align-items: center;
}

.flex-column-center-land {
    align-items: center;
}

.flex-column-center-vert {
    justify-content: center;
}

/* Lettering */

.text-center {
    text-align: center;
}

h1 {
    position: relative;
    font-size: 2em;
    margin: 10px 0;
    padding: 0;
}

h1:after {
    left: 0;
    content: "";
    z-index: 99;
    width: 0px;
    height: 3px;
    bottom: -3px;
    position: absolute;
    background: var(--main-gradient);
    transition: var(--quick-transition);
}

h1:hover:after {
    width: 30px;
}


h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    line-height: 1em;
    color: var(--main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    user-select: none;
}

/* UI */
.border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 2px;
    border-image-source: var(--main-gradient);
}

.shadow {
    -webkit-box-shadow: 0px 5px 25px 5px var(--shadow-color);
    -moz-box-shadow: 0px 5px 25px 5px var(--shadow-color);
    box-shadow: 0px 5px 25px 5px var(--shadow-color);
}

.inner-shadow {
    -webkit-box-shadow: 0px 5px 15px 0px var(--shadow-color-soft) inset;
    -moz-box-shadow: 0px 5px 15px 0px var(--shadow-color-soft) inset;
    box-shadow: 0px 5px 15px 0px var(--shadow-color-soft) inset;
}

.shadow-soft {
    -webkit-box-shadow: 0px 5px 15px 0px var(--shadow-color-soft);
    -moz-box-shadow: 0px 5px 15px 0px var(--shadow-color-soft);
    box-shadow: 0px 5px 15px 0px var(--shadow-color-soft);
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color-transparent) var(--background-transparent);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 0.6em;
    height: 0.3em;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--background-transparent);
}

*::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    background-color: var(--main-color-transparent);
}
*::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}

.debug {
    outline: 1px solid red;
}

/* RESPONSIVE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body {
        --body-height: calc(100vh - (2 * var(--body-padding)) - 50px);
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    body {
        --body-height: calc(100vh - (2 * var(--body-padding)) - 50px);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    body {
        --body-height: calc(100vh - (2 * var(--body-padding)));
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}