    
.buttom-navbar {
    bottom: 0;
    height: 50px;
    position: fixed;
    backdrop-filter: blur(3px);
    transition: var(--slow-transition);
    background: var(--background-transparent);
    z-index: 999;
}

.buttom-navbar.hide {
    bottom: -130px;
}

.buttom-navbar.open {
    height: 100px;
}

.icons-container {
    bottom: 0;
    height: 50px;
    font-size: 35px;
    position: fixed;
    overflow: hidden;
}

.buttom-navbar-searcher {
    overflow: hidden;
}

.buttom-navbar-button {
    z-index: 9;
    width: 50px;
    height: 35px;
    margin: 0 5px;
    padding: 0 10px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
    border-radius: 25px;
    transition: var(--slow-transition);
}

.buttom-navbar-button i{
    font-size: 0.7em
}

.buttom-navbar-button.hide {
    width: 0;
    margin: 0;
    padding: 0;
}

.buttom-navbar-button.open,
.buttom-navbar-button:hover {
    width: 120px;
    backdrop-filter: blur(3px);
    background: var(--main-color);
}

.buttom-navbar-button.active:hover i,
.buttom-navbar-button.open .buttom-navbar-text,
.buttom-navbar-button.open i,
.buttom-navbar-button:hover .buttom-navbar-text,
.buttom-navbar-button:hover i{
    color: var(--background-color-darker) !important;
}

.buttom-navbar-button i {
    color: var(--main-color-transparent) !important;
}

.buttom-navbar-button.active i {
    color: var(--main-color) !important;
}

.buttom-navbar-button.open i,
.buttom-navbar-button:hover i {
    margin-top: -4px;
    padding: 0;
}

.buttom-navbar-button.open .buttom-navbar-text,
.buttom-navbar-button:hover .buttom-navbar-text{
    opacity: 1;
}

.buttom-navbar-button.active:hover .icon-container::after{
    height: 0px;
    width: 0px;
}

.buttom-navbar-button.active:hover .icon-container {
    margin-top: 0;
}

.buttom-navbar-button.active .icon-container {
    margin-top: -5px;
}

.buttom-navbar-button.active .icon-container::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    bottom: -5px;
    left: calc(50% - 2px);
    background-color:var(--main-color);
    transition: var(--slow-transition);
}

.buttom-navbar-text {
    opacity: 0;
    word-wrap: nowrap;
    font-size: 15px;
    overflow: hidden;
    font-weight: bold;
    color: var(--main-color);
    transition: var(--quick-transition);
}

.buttom-prev,
.buttom-next {
    top: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    transition: var(--slow-transition);
}
.buttom-prev.open,
.buttom-next.open {
    border-radius: 0;
    width: 0;
}
    

.buttom-prev {
    left: 0;
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
}

.buttom-next {
    right: 0;
    border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
}

.buttom-prev:hover,
.buttom-next:hover
{
    background-color: var(--main-color);
}

.buttom-prev:hover i,
.buttom-next:hover i{
    color: var(--background-color-darker);
}

.ribbon {
    bottom: 50px;
    left: 25px;
    height: 0px;
    padding: 0 1em;
    overflow: hidden;
    position: absolute;
    transition: var(--slow-transition);
    color: var(--background-color-darker);
    background-color: var(--main-color);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}

.ribbon.open.hide {
    height: 0px;
    bottom: 100px;
    border-radius: 0;
}

.ribbon.open {
    bottom: 50px;
    height: 25px;
}

@media only screen and (max-width: 600px) {

    .buttom-prev,
    .buttom-next {
        border-radius: 0;   
    }

    .icons-container {
        width: 100%;
        left: 0;
    }

    .buttom-navbar-searcher,
    .icons-container,
    .buttom-navbar {
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .buttom-prev,
    .buttom-next {
        background-color: transparent;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .buttom-prev,
    .buttom-next {
        border-radius: 0;   
    }

    .icons-container {
        width: 100%;
        left: 0;
    }

    .buttom-navbar-searcher,
    .icons-container,
    .buttom-navbar {
        left: 0;
        width: 100%;
        border-radius: 0;
    }

    .buttom-prev,
    .buttom-next {
        background-color: transparent;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .icons-container {
        width: 400px;
        left: calc(50% - 200px);
    }
    
    .buttom-navbar-searcher,
    .icons-container,
    .buttom-navbar {
        width: 400px;
        left: calc(50% - 200px);
        border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    }

    .buttom-prev,
    .buttom-next {
        background-color: var(--background-transparent);
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}