.top-navbar-container {
    top: 0;
    left: 0;
    height: 45px;
    position: fixed;
    padding: 5px 20px;
    width: calc(100% - 40px);
    backdrop-filter: blur(3px);
    transition: var(--slow-transition);
}